.header {
  margin-top: 61px;
  height: 50vh;
  min-height: 400px;
  background-color: black;
  color: white;
  background-image: url('../img/background.jpg');
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: 88% 80px;
  @media (max-width: 1240px) {
    background-position: 92% 80px;
  }
  @media (max-width: 1024px) {
    background-size: auto 60%;
    background-position: 98% 80px;
  }
  @media (max-width: 768px) {
    background-position: 60% bottom;
    background-size: auto 58%;
    min-height: 450px;
  }
  @media (max-width: 500px) {
    background-position: 60% bottom;
    background-size: auto 50%;
  }
  @media (max-width: 400px) {
    background-position: 30% bottom;
  }
  &__content {
    max-width: 1200px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    p:last-child {
      padding-left: 150px;
    }
    @media (max-width: 1024px) {
      font-size: 4.5rem;
      p:last-child {
        padding-left: 115px;
      }
    }
    @media (max-width: 768px) {
      justify-content: flex-start;
      align-items: center;
      padding-top: 60px;
    }
    @media (max-width: 500px) {
      text-align: center;
      font-size: 3.5rem;
      padding-top: 80px;
      p:last-child {
        padding-left: 30px;
      }
    }
  }
}
